* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

div#button button {
  border-top: 1px solid transparent;
  transition: 0.5s;
}
div#button button:hover,
div#button button:active {
  border-top: 1px solid #000;
}
div#button button.active {
  transition: 0.5s;
  border-top: 1px solid #000;
}
div.card {
  transition: 1s;
}

div.card:hover > div#certificate-title {
  bottom: 0;
  transition: 0.5s;
}
div.image-profile img {
  animation: spin 5s linear 2;
}
div.image-profile div {
  background-color: #000;
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
